@font-face {
  font-family: 'Mikhak-Light';
  src: url('fonts/Mikhak-Ligth.ttf ') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mikhak-Medium';
  src: url('fonts/Mikhak-Medium.ttf ') format('truetype');
  font-weight: normal;
  font-style: normal;
}